{{> head }}

{{> navbar }}

     <div class="row">
         <div class="col-8">
             <div class="card mt-2 ml-2">
                <div class="card-header">
                    Sobre mí
                </div>
                <div class="card-body">
                    <h5 class="card-title">Ana Hernández</h5>
                    <p class="card-text">Estudiante de Ingenieria informática
                    de la universidad centroccidental "Lisandro ALvarado", 
                    actualmente curso el 8vo semestre, desarrollo aplicaciones
                    web modernas, tengo conocimiento en desarrollo web, HTML,
                    CSS, JavaScript( NodeJS, VueJS ), PHP (Laravel) y manejo
                    de bases de datos (MySql, Postgres, Oracle).</p>

                    <a href="/" class="btn btn-primary">Ir al inicio</a>
                </div>
                <br>
            </div>
         </div>
         <div class="col-4">
             <div class="card mt-2 mr-2" >
                <img src="assets/img/foto.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Desarrollo de aplicaciones</p>
                </div>
             </div>
         </div>
     </div>

{{> footer}}